<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Qrhash:</strong>
  <%= content_tag(:span, @location.qrhash, id: 'qr' + @location.id.to_s, class: 'qr') %>
</p>


<%= link_to 'Edit', edit_location_path(@location), class: 'btn' %> |
<%= link_to 'Back', locations_path, class: 'btn' %>
